<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" style="height: 500px">
						<input id="chapterId" name="chapterId" th:value="${bookChapter.getChapterId()}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">图书：</label>
								<div id="getName" class="col-sm-8" style="width: 320px">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">章节名：</label>
								<div class="col-sm-8"style="width: 320px">
									<input id="chapterName" name="chapterName" th:value="${bookChapter.getChapterName()}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<input id="heart" name="heart" th:value="${bookChapter.getHeart()}" type="hidden">
								<label class="col-sm-3 control-label">读书心得：</label>
								<div class="col-sm-11"style="left: 30px;">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3" style="margin-left: 45%">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/book/bookChapter/edit.js">
	</script>
</body>
</html>
